@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nosifer&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

/* header */

.header {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid orangered;
  background-color: #f5efe0;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23eaaa23' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo {
  background-image: url(./Img/Logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid orange;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navText {
  color: black;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navText:hover {
  color: orangered;
  transform: scale(1.05);
  text-shadow: 1px 1px 2px white, -1px -1px 2px white, 1px -1px 2px white,
    -1px 1px 2px white;
}

.navText:active {
  color: white;
  text-shadow: 1px 1px 2px orangered, -1px -1px 2px orangered,
    1px -1px 2px orangered, -1px 1px 2px orangered;
}

/* hero */

.hero {
  border-bottom: 5px solid orangered;
  background-color: #f0cf9f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ef910a' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}

.cardhero {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .textoHero {
  background: rgba(255, 68, 0, 0.555);
  padding: 1rem;
  gap: 10px;
  border-radius: 1rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.mediaHero {
  background: rgba(255, 68, 0, 0.555);
  padding: 1rem;
  gap: 10px;
  border-radius: 1rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tituloHero {
  color: transparent;
  background: rgb(32, 28, 28);
  background: linear-gradient(
    0deg,
    rgba(32, 28, 28, 1) 26%,
    rgba(255, 149, 0, 1) 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  text-align: center;
}

.parrafoHero {
  color: white;
  text-shadow: 1px 1px 2px orangered, -1px -1px 2px orangered,
    1px -1px 2px orangered, -1px 1px 2px orangered;
  text-align: center;
}

.audio-player-container {
  background-color: #ffddb8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  border: solid 3px whitesmoke;
}

.mediaHero {
  gap: 10px;
}

.tituloHeroyPlay {
  color: orangered;
  text-shadow: 1px 1px 2px white, -1px -1px 2px white, 1px -1px 2px white,
    -1px 1px 2px white;
  text-align: center;
}

.imgHero {
  width: 300px;
  height: 300px;
  background: url(./Img/gcimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  border: solid 2px rgb(243, 243, 243);
}
/* servicios */

.servicios {
  padding: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid orangered;
  background-color: #f5efe0;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23eaaa23' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.card-serv {
  width: 70%;
  background-color: rgba(255, 68, 0, 0.644);
  border-radius: 1rem;
  border: 2px solid white;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgcard {
  border-radius: 1rem;
  width: 300px;
  height: 300px;
  border: 2px solid white;
}
.tit-card {
  color: transparent;
  background: rgb(246, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(246, 233, 233, 1) 26%,
    rgba(255, 149, 0, 1) 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  text-align: center;
}

.pcard {
  color: white;
  text-shadow: 1px 1px 2px orangered, -1px -1px 2px orangered,
    1px -1px 2px orangered, -1px 1px 2px orangered;
  text-align: center;
  font-size: 0.8rem;
}
.tituloservicios {
  color: transparent;
  background: rgb(246, 233, 233);
  background: linear-gradient(
    0deg,
    rgb(94, 43, 43) 26%,
    rgba(255, 149, 0, 1) 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  text-align: center;
}

.video-grid {
  width: 70%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #ff9c33; /* Color de fondo naranja */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos de cada video */
.video-servicios {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ff6200; /* Color de fondo oscuro */
}

/* Estilo de borde */
.video-servicios:focus {
  outline: 3px solid #ff9c33;
}

.video-servi {
  width: 50%;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ff6200; /* Color de fondo oscuro */
}

/* Estilos de la cuadrícula */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #ff9c33; /* Fondo naranja claro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
}

/* Estilos de cada imagen */
.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen para que ocupe el contenedor */
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Efecto hover en cada imagen */
.image-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  border: 3px solid #ff6200; /* Bordes de color naranja oscuro al pasar el cursor */
}

.social-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  display: flex;
  flex-direction: column; /* Alinea los botones en una columna */
  gap: 10px; /* Espacio entre cada botón */
}

.social-buttons a img {
  width: 50px; /* Tamaño inicial del ícono */
  height: 50px;
  border-radius: 50%; /* Hace el ícono circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra */
  transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.social-buttons a img:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
}

/* Media Queries para Responsividad */

/* Dispositivos pequeños - Smartphones en modo vertical */
@media (max-width: 480px) {
  .social-buttons a img {
    width: 40px;
    height: 40px;
  }

  .social-buttons {
    bottom: 15px;
    right: 15px;
  }
}

/* Smartphones en modo horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  .social-buttons a img {
    width: 45px;
    height: 45px;
  }

  .social-buttons {
    bottom: 15px;
    right: 15px;
  }
}

/* Tablets y pantallas medianas */
@media (min-width: 481px) and (max-width: 1024px) {
  .social-buttons a img {
    width: 50px;
    height: 50px;
  }

  .social-buttons {
    bottom: 20px;
    right: 20px;
  }
}

/* Pantallas grandes - Escritorio */
@media (min-width: 1025px) {
  .social-buttons a img {
    width: 60px;
    height: 60px;
  }

  .social-buttons {
    bottom: 30px;
    right: 30px;
  }
}
/* media querys */

@media (min-width: 1200px) {
  .header,
  .navbar,
  .hero,
  .servicios,
  .card-serv,
  .video-grid,
  .image-grid {
    /* max-width: 1200px; */
    margin: 0 auto;
  }

  .tituloHero {
    font-size: 4rem;
  }

  .tituloservicios {
    font-size: 3rem;
  }
}

/* Tablets Horizontal */
@media (min-width: 768px) and (max-width: 1199px) {
  .hero,
  .servicios {
    padding: 1rem;
  }

  .tituloHero {
    font-size: 3rem;
  }

  .tituloservicios {
    font-size: 2.5rem;
  }

  .navbar {
    gap: 8px;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .imgcard {
    width: 80%;
    height: auto;
  }

  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablets Vertical and Large Phones */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .tituloHero {
    font-size: 2.5rem;
  }

  .parrafoHero,
  .pcard {
    font-size: 0.9rem;
  }

  .imgcard,
  .imgHero {
    width: 250px;
    height: 250px;
  }

  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-serv {
    width: 100%;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  /* Smaller Header Elements */
  .header {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .tituloHero {
    font-size: 2rem;
  }

  .parrafoHero,
  .pcard {
    font-size: 0.8rem;
    padding: 5px;
  }

  .tituloHeroyPlay {
    font-size: 1rem;
  }

  /* Hero and Services Section */
  .imgHero {
    width: 100%;
    height: auto;
  }

  .imgcard {
    width: 90%;
    height: auto;
  }

  .card-serv {
    width: 100%;
    padding: 10px;
  }

  /* Video Grid and Testimonials */
  .video-grid,
  .image-grid {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .imgHero {
    width: 250px;
    height: 250px;
  }
}

.contacto {
  background-color: #f0cf9f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ef910a' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-top: 5px solid orangered;
}

.titulo-contacto {
  color: transparent;
  background: rgb(246, 233, 233);
  background: linear-gradient(
    0deg,
    rgb(94, 43, 43) 26%,
    rgba(255, 149, 0, 1) 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  text-align: center;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contacto-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  text-align: center;
}

.contacto-texto p {
  color: black;
  font-weight: 500;
}

iframe {
  border-radius: 8px;
  border: 2px solid orangered;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer p {
  margin: 0;
}

/* Responsivo */
@media (min-width: 768px) {
  .info-contacto {
    flex-direction: row;
    justify-content: space-around;
  }

  .contacto-texto {
    width: 45%;
  }
}
